* {
    box-sizing: border-box;
}

table {
    display: grid;
    border-collapse: collapse;
    min-width: 100%;
    grid-template-columns:
        minmax(140px, 1fr) minmax(170px, 1.67fr) minmax(240px, 1.67fr) minmax(240px, 3.33fr) minmax(240px, 3.33fr)
}

thead,
tbody,
tr {
    display: contents;
}

th,
td {
    padding: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: justify;
    white-space: wrap;
}

th {
    position: sticky;
    top: 0;
    background: lightsteelblue;
    text-align: left;
    font-weight: normal;
    font-size: 1.1rem;
    color: white;
}

th:last-child {
    border: 0;
}

td {
    padding-top: 10px;
    padding-bottom: 10px;
    color: #808080;

}

tr:nth-child(even) td {
    background: #f8f6ff;
}

@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px) {

    table,
    thead,
    tbody,
    th,
    td,
    tr {
        display: block;
    }

    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr {
        border: 1px solid #ccc;
    }

    td {
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
    }

    td:before {
        position: absolute;
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
    }


    td:nth-of-type(1):before {
        content: "Flight Number";
    }

    td:nth-of-type(2):before {
        content: "Mission Name";
    }

    td:nth-of-type(3):before {
        content: "Launch Date";
    }

    td:nth-of-type(4):before {
        content: "Launch Site";
    }

    td:nth-of-type(5):before {
        content: "Details";
    }

}